* {

    font-family: sans-serif;
    background-color: black;
    margin: 0;

}


span {
  color: green;
  margin: 0;
  padding: 1em;
  width: calc(6 * 450px);
  list-style-position: inside;
  background: DARKSEAGREEN;
  transition: all 1s ease;
  display: none;
}


.show {
  display: inline;
    transition: 2s;
}

section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
    justify-items: center;

}

@media (max-width: 700px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 450px) {
  section {
    grid-template-columns: repeat(1, 1fr);
  }
}


img {
    width: 10em;
    border: .5em;
    border-color: aqua;
}



h1 {
    margin-left: .25em;
    margin-top: .5em;
    font-size: 3em;
    color: hotpink;
}

h2 {
    margin-top: 1em;
    padding: 0;
    font-size: 1em;
    color: hotpink;
    text-transform: uppercase;

}


p {
    margin-top: 1em;
    width: 70%;
    margin-bottom: .5em;
    font-size: .8em;
    color: #fff;

}

p:nth-of-type(2) {
    margin-top: 1em;
    width: 70%;
    margin-bottom: .5em;
    font-size: .8em;
    color: hotpink;

}

button {
   cursor: pointer;
  padding: 1em;
    margin-top: 1em;
  color: #fff;
    background-color: hotpink;
  font-weight: bold;
  font-size: 1em;
  transition: 0.6s ease;
}

li, ul {
/*    margin-left: 1.6em;*/
    margin-top: 1em;
    font-size: .8em;
    list-style: none;
    color: hotpink;
    margin-top: 1em;

}

article {
    padding-left: 1em;

}


article > p:nth-of-type(4){
    display: none;
}

article > p.show:nth-of-type(4){
    display: inline-block;
}

.hide {
  display: none;
}


section ul {
  display: none;
}
