@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

section:nth-of-type(2) {
  line-height: 0;
  columns: 15em;
  column-gap: 0.5em;
}

h1 {
  color: pink;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 2em;
}

fieldset legend {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin-bottom: 0.5em;
}

label {
  height: auto;
  width: 4em;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

/* label is nu roze */
label[for="roze"] {
  background-color: pink;
  border: 0.4em solid pink;
}

/* roze label is nu niet gecheckt */


/* label is nu zwart */
label[for="zwart"] {
  background-color: black;
  border: 0.4em solid black;
  color: white;
}


/* zwarte label is nu niet gecheckt */

input {
  margin-left: -100%;
  margin-right: 100%;
}

img {
  width: 100%;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.zwart img.zwart,
.roze img.roze {
  display: none;
}

.roze, .zwart {
  display: block;
}
